.slide_down_from_top {
    transform: translateY(250%);
    transition: transform 1s ease;
}

.slide_up_to_top {
    transform: translateY(-300%);
    transition: transform 1s ease;
}

.slide_up_from_bottom {
    transform: translateY(80%);
    transition: transform 1s ease;
}

.slide_down_to_bottom {
    transform: translateY(600%);
    transition: transform 1s ease;
}

.slide_right_to_left {
    transform: translate(-500%, 250%);
    transition: transform 1s ease;
}

.slide_left_from_right {
    transform: translate(0%, 250%);
    transition: transform 1s ease;
}

.overlay.visible {
    opacity: 1; /* Fully opaque when visible */
    pointer-events: auto; /* Make the overlay interactive */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey color */
    z-index: 1000; /* Ensure the overlay appears above other content */
    opacity: 0; /* Initially transparent */
    transition: opacity 1s ease; /* Fade in and out over 1 second */
    pointer-events: none; /* Make the overlay non-interactive */
}

